<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.akshaysadarangani.ILoveZappos">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="info.akshaysadarangani.ILoveZappos.activity.SplashActivity"
            android:theme="@style/AppTheme.Fullscreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="info.akshaysadarangani.ILoveZappos.activity.SearchActivity"></activity>
        <activity
            android:name="info.akshaysadarangani.ILoveZappos.activity.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="info.akshaysadarangani.ILoveZappos.activity.SearchActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.akshaysadarangani.ILoveZappos.activity.SearchActivity" />
        </activity>

        <meta-data android:name="info.akshaysadarangani.ILoveZappos.activity.GlideConfiguration"
            android:value="GlideModule"/>
    </application>

</manifest>